autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.6.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.2
decorator==4.4.0
Django==2.0.7
django-crispy-forms==1.7.2
django-filter==2.1.0
django-modelcluster==4.3
django-oauth-toolkit==1.2.0
django-simple-email-confirmation==0.23
django-six==1.0.4
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.9.2
draftjs-exporter==2.1.5
entrypoints==0.3
flake8==3.7.7
html5lib==1.0.1
idna==2.8
ipython==7.4.0
ipython-genutils==0.2.0
isort==4.3.10
jedi==0.13.3
Markdown==3.0.1
mccabe==0.6.1
mysqlclient==1.4.1
oauthlib==3.0.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pytz==2018.9
requests==2.21.0
six==1.12.0
traitlets==4.3.2
Unidecode==1.0.23
urllib3==1.24.1
wagtail==2.4
wcwidth==0.1.7
webencodings==0.5.1
Willow==1.1