{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Login</title>
<style>
.center_div{
    margin: 0 auto;
    width:30% ;/* value of your choice which suits your alignment */
    height:30%;
}
</style>
{% endblock %}
{% block content %}
<div class="container center_div" >
<form method="post" class="col-sm-12" >
    <h3 class="container center_div"> login </h3>
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-xs" id=login>Login</button>
</form>
</div>

<script>var elmnt = document.getElementById("login");
elmnt.scrollIntoView();

</script>

{% endblock %}