{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}

<title> create article</title>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<form method="post" class="col-sm-10 col-md-10 mx-auto " id="add">
        <h3 class="container center_div"> add an article </h3>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="add article" class="btn btn-primary btn-xs" id=login>Add Article</button>

{% else %}

<h2> Please login or signup to create an article </h2>

{% endif %}

<script>
    var elmnt = document.getElementById("add");
    elmnt.scrollIntoView();
    
    </script>
{% endblock %}