{% extends 'base.html' %}
{% block head %}
<title> {{object.title}}</title>
{% endblock%}

{% block content %}
<div class="container" id='goto'>
    <div class="row" >
      <div class="col-lg-8 col-md-10 mx-auto" >
        <div class="post-preview">
            <h2 class="post-title">
              {{ article.title}}
            </h2>
            <p class="post-subtitle">
              {{ article.body }}
            </p>
          </a>
          <p class="post-meta">Posted by
              <a href="#">{{ article.author }}</a>
              on {{ article.pub_date }}</p>
        </div>
        <hr>
{% endblock %}