{% extends 'base.html' %}
{% block content %}

<div class="container" id='goto'>
    <div class="row" >
      <div  >
        <div class="post-preview">
            <h2 class="post-title">
              About Django Blog
            </h2>
            <p class="post-subtitle">
              This blog has been developed as a tutorial for practising Python / Django and React Js .<br/>
              Please feel free to find the source code on <a href='https://github.com/Msalah593/DjangoBlog'>Github</a><br/>
                <br/>
              Mohamed Salah
              msalah593@gmail.com
            </p>
            
        </div>

        <script>
            var elmnt = document.getElementById("goto");
            elmnt.scrollIntoView();
            
            </script>
{% endblock %}