{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container" id='goto'  >
    <div class="row"  style="height:100%">
      <div class="col-lg-12 col-md-12" style="height:100%">
      <iframe id="myIframe" frameborder="0" onload="setTimeout(changeH, 300)" onloadeddata="changeH()" style="overflow-x:hidden;overflow-y:scroll;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" src="{% url 'articles-app' %}"></iframe>
      </div>
    </div>
  </div>


  <script>
    function changeH(){
    var iframe = document.getElementById("myIframe");
    var goto =  document.getElementById("goto");
        goto.style.height = iframe.contentWindow.document.body.clientHeight + 'px';
    }
    </script>
  
{% endblock %}